.h1-style{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.body-style{
    font-family: Arial,sans-serif;
}

.formulaire-style{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;


}
.input-style{
    margin-top:30px;
    width: 150px;

}
.button-style{
    margin:30px;
    padding: 10px;
    border-radius: 20px;
    border-style: hidden;
    background-color: #00bfff;
}

.hidden{
    display: none;
}